<div class="w-full rounded-3xl bg-black pb-16 pt-16 px-16">
  <div
    class="mb-12 text-white text-center flex flex-col gap-8 items-center justify-center"
  >
    <div class="text-[50px] font-medium">Twoje dyplomy</div>
    <!-- <div class="text-xl">Do kolejnego levelu brakuje Ci 5 punktów</div> -->
  </div>

  <div class="h-full grid grid-cols-3 items-center gap-8">
    <div
      class="h-[300px] rounded-3xl bg-white text-black uppercase text-[35px] flex items-center justify-center font-bold diploma cursor-pointer"
    >
      <p>LEVEL 1</p>
    </div>
    <div
      class="h-[300px] rounded-3xl bg-white text-black uppercase text-[35px] flex flex-col items-center justify-center gap-5 font-bold"
    >
      <div class="w-[80px] h-[80px] lock"></div>

      <p>LEVEL 3</p>
    </div>
    <div
      class="h-[300px] rounded-3xl bg-white text-black uppercase text-[35px] flex flex-col items-center justify-center gap-5 font-bold"
    >
      <div class="w-[80px] h-[80px] lock"></div>

      <p>LEVEL 4</p>
    </div>
    <div
      class="h-[300px] rounded-3xl bg-white text-black uppercase text-[35px] flex flex-col items-center justify-center gap-5 font-bold"
    >
      <div class="w-[80px] h-[80px] lock"></div>

      <p>LEVEL 5</p>
    </div>
    <div
      class="h-[300px] rounded-3xl bg-white text-black uppercase text-[35px] flex flex-col items-center justify-center gap-5 font-bold"
    >
      <div class="w-[80px] h-[80px] lock"></div>

      <p>LEVEL 6</p>
    </div>
    <div
      class="h-[300px] rounded-3xl bg-white text-black uppercase text-[35px] flex flex-col items-center justify-center gap-5 font-bold"
    >
      <div class="w-[80px] h-[80px] lock"></div>

      <p>LEVEL 7</p>
    </div>
    <div
      class="h-[300px] rounded-3xl bg-white text-black uppercase text-[35px] flex flex-col items-center justify-center gap-5 font-bold"
    >
      <div class="w-[80px] h-[80px] lock"></div>

      <p>LEVEL 8</p>
    </div>
    <div
      class="h-[300px] rounded-3xl bg-white text-black uppercase text-[35px] flex flex-col items-center justify-center gap-5 font-bold"
    >
      <div class="w-[80px] h-[80px] lock"></div>

      <p>LEVEL 9</p>
    </div>
    <div
      class="h-[300px] rounded-3xl bg-white text-black uppercase text-[35px] flex flex-col items-center justify-center gap-5 font-bold"
    >
      <div class="w-[80px] h-[80px] lock"></div>

      <p>LEVEL 10</p>
    </div>
  </div>
</div>
