<div *ngIf="students?.length">
  <app-title>Uczniowie</app-title>
  <div class="mt-8">
    <table mat-table [dataSource]="students" class="mat-elevation-z8">
      <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Imię i nazwisko</th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>
      <ng-container matColumnDef="rollNum">
        <th mat-header-cell *matHeaderCellDef>Numer w dzienniku</th>
        <td mat-cell *matCellDef="let element">{{ element.rollNum }}</td>
      </ng-container>
      <ng-container matColumnDef="sclassName">
        <th mat-header-cell *matHeaderCellDef>Nazwa klasy</th>
        <td mat-cell *matCellDef="let element">
          {{ element.sclassName.sclassName }}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Akcje</th>
        <td mat-cell *matCellDef="let element">
          <div class="flex items-center gap-2">
            <button mat-raised-button color="warn">Usuń</button>
            <button
              mat-raised-button
              color="basic"
              [routerLink]="'/admin/students/details/' + element._id"
            >
              Zobacz
            </button>
            <button mat-raised-button color="primary">Zgłoś obecność</button>
            <button mat-raised-button color="primary">Wpisz oceny</button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>

<app-spinner *ngIf="isLoading"></app-spinner>
