<div>
  <button
    color="basic"
    [routerLink]="'/admin/marks/add/' + route.snapshot.params['id']"
    class="mb-5"
    mat-raised-button
    color="primary"
  >
    Dodaj ocenę
  </button>

  <table mat-table [dataSource]="data" class="mat-elevation-z8">
    <ng-container matColumnDef="subName">
      <th mat-header-cell *matHeaderCellDef>Przedmiot</th>
      <td mat-cell *matCellDef="let element">
        {{ element?.subName?.subName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="marksObtained">
      <th mat-header-cell *matHeaderCellDef>Ocena</th>
      <td mat-cell *matCellDef="let element">
        {{ element?.marksObtained }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
